* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: url(./img/yellow-green-stars-seamless-pattern-cute-vector-repeating-ornament-dark-green-background-ideal-fabrics-textile-wrapping-213350681.jpg);
  background-size: cover;
  background-position: center;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}

button{
    padding: 5px 10px;
    margin-top: 10px;
}

img{
    width: 100px ;
}

.box {
  width: 990px;
  height: 480px;
  background:rgb(255, 255, 255, 0.9);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 30px;
}

.banner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.banner h1 a{
  text-decoration: none;
  color: black;
}

.banner h1,
h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 3px;
}
.banner h2 {
  color: rgb(51, 137, 172);
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgb(187, 221, 92);
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  position: relative;
}

.navbar ul li a {
  font-size: 15x;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.navbar ul li a:hover {
  color: pink;
}

.banner .content {
  display: flex;
  flex-direction: row;
  padding: 30px 0px;
}

.banner .input h2,
.banner .result h2{
    text-align: left;
}

.banner .content .input,
.banner .content .result{
  width: 50%;
}

.select2{
  display: flex;
  margin-top: 10px;
}

.banner .input select{
  padding: 5px;
}

.banner .result img,p{
  margin-left: 4px;
  margin-bottom: 5px;
}

